@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

:root{
    --Background: #AAB6EE;
    --Blue: #2C57E5;
    --Darkblue: #2C1EA7;
    --Blue_gradient: linear-gradient(to right, #3C5AE8, #2C1CA4);
    --Black: #000000;
    --Blackdiscord: #1A1A1E;
    --White: #FFFFFF;
    --Overblue: #2CAAE5;
    --Yellow: #FFD33D;
    --Orange: #FF983D;
    --Yellow-gradient: linear-gradient(to right, #FFD33D, #FF983D);
}

body{
    background-image: url(img/Pattern_image.png);
}

header{
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    .left{
        width: 100%;
        nav{
            margin-left: 30px;
            height: 104px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color: var(--Darkblue);
                font-size: clamp(10px 8vh 20px);
                font-weight: 600;
                position: relative;
                height: 104px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a:hover::after{
                width: 100%;
            }
            a::after{
                content: "";
                position: absolute;
                width: 0;
                height: 4px;
                background-color: var(--Darkblue);
                transition: width 0.75s ease;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .logo{
        width: 25%;
        height: auto;
        cursor: pointer;
    }
    div{
        display: flex;
        align-items: center;
    }
    .icone_discord{
        margin-right: 17px;
        width: 80%;
        cursor: pointer;
        margin-top: 4px;
    }
    .icone_instagram{
        cursor: pointer;
        margin-top: 4px;
        width: 100%;
        height: 100%;
    }
}

.carte{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, #AAB6EE, #41529b);
    .carte_bretagne{
        width: 100%;
        position: relative;
    }
    .location_img{
        position: absolute;
        cursor: pointer;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 36px 0;
    color: var(--White);
    .carte_de_la_semaine{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h2{
            font-size: 30px;
            margin-top: 18px;
            margin-bottom: 9px;
        }
        .semaine_df{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-top: 8px;
                margin-left: 9px;
                filter: brightness(100);
            }
        }
        p{
            font-size: 18px;
            margin-bottom: 18px;
        }
        a{
            color: var(--Blue);
            text-decoration: none;
            background: var(--White);
            padding: 10px 0;
            width: 314px;
            text-align: center;
            border-radius: 15px;
            font-size: 22px;
            font-weight: 500;
            position: relative;
        }   
        a:hover{
            background: var(--Blue);
            color: var(--White);
            border: 3px solid var(--White);
        }
    }
    .separateur_main{
        margin: 18px 0;
        width: 500px;
    }

}

aside{
    background-color: var(--Blackdiscord);
    width: 380px;
    padding: 25px;
    position: absolute;
    left: -380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--White);
    border-radius: 0 0 15px 0;
    h2{
        font-size: 30px;
        font-weight: 700;
        color: var(--Overblue);
    }
    h3{
        font-size: 18px;
        font-weight: 400;
        margin-top: 18px;
        span{
            font-weight: 600;
        }
    }
    .lien_google_maps{
        text-decoration: none;
        margin-top: 18px;
        color: var(--White);
        background: var(--Blue_gradient);
        padding: 10px 0;
        width: 100%;
        text-align: center;
        border-radius: 7px;
        font-size: 19px;
    }
    .lien_google_maps:hover{
        background: var(--Yellow-gradient);
    }
    img{
        width: 100%;
        margin-top: 18px;
    }
    .image_affiche{
        cursor: pointer;
        border-radius: 5px;
    }
    .button_aside{
        width: 30px;
        height: 123px;
        background-color: var(--Blackdiscord);
        position: absolute;
        top: 394px;
        right: -30px;
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            transform-origin: center;
            margin-top: 0;
            width: 100%;
        }
    }
    transition: left 0.3s ease;
    z-index: 2;
    input{
        z-index: 3;
        width: 30px;
        height: 123px;
        position: absolute;
        top: 45%;
        right: -30px;
        display: none;
    }
}

aside:has(input:checked){
    left: 0;
}

aside:has(input:checked) .button_aside img{
    transform: rotate(180deg);
}

.display_aside{
    display: none;
    position: absolute;
    top: 50%;
    left: 450px;
    z-index: 2;
    img{
        width: 800px;
    }
}

@media screen and (max-width: 800px){
    header{
        padding: 10px;
        .logo{
            width: 50%;
        }
        img{
            width: 70%;
            height: 70%;
        }
        .icone_discord{
            margin-right: 10px;
        }
    }
    .carte{
        padding: 15px;
    }
    main{
        width: 100%;
        padding: 18px;
        img{
            width: 100%;
        }
        .carte_de_la_semaine{
            h2{
                font-size: 15px;
                margin-bottom: 0;
            }
            .semaine_df{
                flex-direction: column;
                img{
                    width: 30px;
                }
                margin-bottom: 8px;
            }
            p{
                font-size: 12px;
            }
            a{
                padding: 10px 0;
                font-size: 15px;
                width: 200px;
                border-radius: 7px;
            }
        }
        .separateur_main{
            width: 300px;
        }
        .autres_evenements{
            h2{
                font-size: 25px;
            }
            h3{
                font-size: 20px;
            }
        }
        .vide_grenier{
            a{
                padding: 8px 15px;
                width: 180px;
                font-size: 15px;
                border-radius: 9px;
                border-width: 3px;
            }
        }
    }
    
    aside{
        width: 180px;
        left: -180px;
        padding: 25px 15px;
        border-radius: 0 0 8px 0;
        h2{
            font-size: 12px;
        }
        h3{
            font-size: 9px;
        }
        .button_aside{
            width: 20px;
            height: 80px;
            right: -20px;
            top: 100px;
        }
        a{
            width: 100%;
            font-size: 10px;
            padding: 5px 0;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 411px) {
    header{
        padding: 0 15px;
        img{
            width: 70%;
            height: 70%;
        }
        .left{
            nav{
                margin-left: 5px;
                a{
                    font-size: 10px;
                }
            }
        }
    }
    aside{
        .lien_google_maps{
            font-size: 10px;
        }
        .image_affiche{
            border-radius: 1px;
        }
    }
}