*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Background: #AAB6EE;
    --Blue: #2C57E5;
    --Darkblue: #2C1EA7;
    --Black: #000000;
    --Blackdiscord: #1A1A1E;
    --White: #FFFFFF;
    --Overblue: #2CAAE5;
    --Green: #1EA79C;
    --Yellow: #FFD33D;
}

body{
    background-color: var(--Background);
}

header{
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 111px;
    a{
        text-decoration: none;
        color: var(--Darkblue);
        font-size: 25px;
        margin-left: 24px;
    }
    nav{
        display: flex;
        align-items: center;
    }
    div{
        display: flex;
        align-items: center;
        color: var(--Darkblue);
    }
    .titre{
        h1{
            font-size: 30px;
            margin-left: 10px;
        }
        img{
            width: 75px;
            height: 75px;
        }
    }
    img{
        width: 50px;
        height: 50px;
    }
    .add{
        background: linear-gradient(to right,  #2C57E5, #2C1EA7);
        width: 405px;
        height: 55px;
        border-radius: 15px;
        color: var(--White);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 44px;
        img{
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }
}

main{
    padding-top: 57px;
    .carte{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}