@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

:root{
    --Background: #AAB6EE;
    --Blue: #2C57E5;
    --Darkblue: #2C1EA7;
    --Blue_gradient: linear-gradient(to right, #3C5AE8, #2C1CA4);
    --Black: #000000;
    --Blackdiscord: #1A1A1E;
    --White: #FFFFFF;
    --Overblue: #2CAAE5;
    --Yellow: #FFD33D;
    --Orange: #FF983D;
    --Yellow-gradient: linear-gradient(to right, #FFD33D, #FF983D);
}

body{
    background: linear-gradient(to right, #AAB6EE, #41529b);
}

header{
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    .logo{
        width: 25%;
        height: auto;
        cursor: pointer;
    }
    div{
        display: flex;
        align-items: center;
    }
    .icone_discord{
        margin-right: 17px;
    }
    .icone_discord, .icone_instagram{
        cursor: pointer;
    }
}

.carte{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    .carte_bretagne{
        width: 100%;
        position: relative;
    }
    .location_img{
        position: absolute;
        cursor: pointer;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/Pattern_image.png);
    padding: 36px 0;
    color: var(--White);
    .carte_de_la_semaine{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h2{
            font-size: 30px;
            margin-top: 18px;
            margin-bottom: 9px;
        }
        .semaine_df{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-top: 8px;
                margin-left: 9px;
                filter: brightness(100);
            }
        }
        p{
            font-size: 18px;
            margin-bottom: 18px;
        }
        a{
            color: var(--Blue);
            text-decoration: none;
            background: var(--White);
            padding: 10px 0;
            width: 314px;
            text-align: center;
            border-radius: 15px;
            font-size: 22px;
            font-weight: 500;
            position: relative;
        }   
        a:hover{
            background: var(--Blue);
            color: var(--White);
            border: 3px solid var(--White);
        }
    }
    .separateur_main{
        margin: 18px 0;
        width: 500px;
    }
    .autres_evenements{
        h2{
            font-size: 45px;
            margin-bottom: 18px;
            text-align: center;
        }
        h3{
            margin-bottom: 9px;
            font-size: 30px;
            font-weight: 500;
        }
        img{
            border-radius: 10px;
        }
    }
    .vide_grenier{
        margin: 18px 0;
        a{
            text-decoration: none;
            background-color: var(--White);
            color: orange;
            border: 4px solid orange;
            padding: 15px 30px;
            width: 314px;
            text-align: center;
            border-radius: 15px;
            font-size: 27px;
            font-weight: 600;
        }
        a:hover{
            color: var(--White);
            background-color: var(--Orange);
            border-color: var(--White);
        }
    }
}

aside{
    background-color: var(--Blackdiscord);
    width: 380px;
    padding: 25px;
    position: absolute;
    left: -380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--White);
    h2{
        font-size: 30px;
        font-weight: 700;
        color: var(--Overblue);
    }
    h3{
        font-size: 18px;
        font-weight: 400;
        margin-top: 18px;
        span{
            font-weight: 600;
        }
    }
    a{
        text-decoration: none;
        margin-top: 18px;
        color: var(--White);
        background: var(--Blue_gradient);
        padding: 10px 0;
        width: 100%;
        text-align: center;
        border-radius: 7px;
        font-size: 19px;
    }
    a:hover{
        background: var(--Yellow-gradient);
    }
    img{
        width: 100%;
        margin-top: 18px;
    }
    .button_aside{
        width: 30px;
        height: 123px;
        background-color: var(--Blackdiscord);
        position: absolute;
        top: 394px;
        right: -30px;
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            transform-origin: center;
            margin-top: 0;
            width: 100%;
        }
    }
    transition: left 0.3s ease;
    z-index: 2;
    input{
        z-index: 3;
        width: 30px;
        height: 123px;
        position: absolute;
        top: 45%;
        right: -30px;
        display: none;
    }
}

aside:has(input:checked){
    left: 0;
}

aside:has(input:checked) .button_aside img{
    transform: rotate(180deg);
}

@media screen and (max-width: 1312px) {
    header{
        .logo{
            width: 35%;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
    .carte{
        padding: 15px;
    }
    main{
        width: 100%;
        padding: 0 50px;
        img{
            width: 100%;
        }
        .carte_de_la_semaine{
            h2{
                font-size: 20px;
                margin-bottom: 0;
            }
            .semaine_df{
                flex-direction: column;
                img{
                    width: 30px;
                }
                margin-bottom: 9px;
            }
            p{
                font-size: 15px;
            }
            a{
                padding: 10px 0;
                font-size: 15px;
                width: 200px;
                border-radius: 7px;
            }
        }
        .separateur_main{
            width: 300px;
        }
        .autres_evenements{
            h2{
                font-size: 25px;
            }
            h3{
                font-size: 20px;
            }
        }
        .vide_grenier{
            a{
                padding: 10px 15px;
                width: 180px;
                font-size: 19px;
                border-radius: 9px;
                border-width: 3.5px;
            }
        }
    }
    
    aside{
        width: 180px;
        h2{
            font-size: 13px;
        }
        h3{
            font-size: 8px;
        }
        .button_aside{
            width: 20px;
            height: 80px;
            right: -20px;
            top: 100px;
        }
        a{
            width: 100%;
            font-size: 10px
        }
    }
}

@media screen and (max-width: 1155px){
    header{
        padding: 0 10px;
        .logo{
            width: 60%;
        }
    }
}

@media screen and (max-width: 500px){
    header{
        .logo{
            width: 30%;
        }
    }
}

@media screen and (max-width: 411px) {
    header{
        img{
            width: 25px;
            height: 25px;
        }
    }
}